@import "./mixins";
.project__main{
   @include twocolumnsn(7.4rem , 7.5rem);
    
   
 }
 .image-chanall{
     width: 100%;
     box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);
     max-width: 100%;
  }

  .project__data{
     align-self: center;
  }
  .project__descreption{
     line-height: 1.5;
  }
  .projects__links{
     color: var(--color-darck-blue);
     font-family: var(--font-family-poppins);
     font-weight: var(--font-weight-medium);
     top: 2.3rem;
  }
  .projects__links::after{
     content: "";
     display: inline-block;
     width: 1.4rem;
     height: 1.4rem;
     background-image: url("external_link_icon.png");
     color: blue;
     background-size: contain;
 
 }